@use "../../theme/screens" as *;
@use "../../theme/" as *;

#container {
    width: 100%;
    height: 92.5vh;
    padding: 0 10vw;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    @include media("sm", "tablet_portrait") {
        padding: 0 5vw;
    }
    @include media("mobile") {
        padding: 0;
    }
}

#chart_menu {
    display: flex;
    list-style: none;
    @include media("sm") {

    }
}

#chart_menu li {
    padding: 1vmax 1vmax;
    font-weight: bold;
    box-sizing: border-box;
    cursor: pointer;
    @include themed() {
        color: getThemeColor("text_1");
    }
    @include media("mobile") {
        padding: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        font-weight: bold;
        padding: 2vmax 0;
    }
}

#chart_menu li[data-active="true"], #chart_menu li:hover {
    @include themed() {
        border-bottom: 4px solid getThemeColor("accent");
        color: getThemeColor("accent");
    }
}

#chart_container {
    flex-grow: 1;
    position: relative;
}

#chart_axes_menu {
    display: flex;
    justify-content: flex-end;
    margin-top: 1vmax;
    align-items: center;
    @include themed() {
        color: getThemeColor("text_0");
    }
}

#chart_axes_menu select {
    margin-right: 1rem;
}

#chart_axes_menu label {
    margin-right: .618rem;
}

#chart_container circle {
    cursor: pointer;
    @include themed() {
        fill: getThemeColor("third");
    }
}

#x_axis {
    position: absolute;
    top: calc(100% - 40px);
    left: 50px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include themed() {
        border-top: 1px solid getThemeColor("text_0");
        color: getThemeColor("text_0")
    }
    @include media("mobile") {
        right: 1rem;
    }
}


#y_axis {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: calc(100% - 50px);
    top: 0;
    bottom: 40px;
    @include themed() {
        border-right: 1px solid getThemeColor("text_0");
        color: getThemeColor("text_0")
    }
}

#y_label {
    display: block;
    font-weight: bold;
    position: absolute;
    font-size: 1rem;
    top: 50%;
    transform: translate(-75%, -50%) rotate(-90deg);
    white-space: nowrap;
    @include themed() {
        color: getThemeColor("text_0");
        background-color: getThemeColor("bg_0");
    }
    @include media("mobile") {
        transform: translate(-25%, -50%) rotate(-90deg);
    }
}

#x_axis label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-top: .618rem;
    @include media("mobile") {
        margin-top: 1rem;
    }
}

.x_ticks {
    position: absolute;
    display: flex;
    height: .618rem;
    top: -.309rem;
    width: 1px;
    overflow: visible;
    @include themed() {
        background-color: getThemeColor("text_0");
    }
}

.x_ticks > p {
    transform: translateX(-50%);
    margin-top: 4px;
}

.y_ticks {
    position: absolute;
    display: flex;
    height: 1px;
    right: -.309rem;
    width: .618rem;
    overflow: visible;
    align-items: center;
    @include themed() {
        background-color: getThemeColor("text_0");
    }
    @include media("mobile") {
        font-size: .764rem;
    }
}

.y_ticks > p {
    transform: translateX(-100%);
    margin-bottom: 4px;
}

.tooltip {
    display: none;
    z-index: 10;
    padding: 1rem 1rem;
    position: absolute;
    transform: translateY(-200%);
    @include themed() {
        background-color: getThemeColor("bg_1");
        color: getThemeColor("text_0");
        box-shadow: 0 0 5px getThemeColor("shadow");
    }
}

.tooltip span {
    font-weight: bold;
}