@use "../../theme/" as *;

#error_container {
    height: 10vh;
    padding: 2.5vh;
    border-radius: .309rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.309rem;
    text-align: center;

    @include themed() {
        color: getThemeColor("error");
        background-color: getThemeColor("error")+#{55};
        border: 1px solid getThemeColor("error");
    }
}

#error_container button {
    padding: 1vh 2vh;
    border-radius: .309rem;
    border-width: 0;
    cursor: pointer;
    font-weight: 600;
    color: white;

    @include themed() {
        background-color: getThemeColor("error");
    }
}